{
    "retainLines": true,
    "presets": [
        ["@babel/env", {
            "targets": {
                browsers: ["ChromeAndroid 30", "iOS 7", "IE 10"]
            },
            "loose": true,
            "modules": false
        }]
    ],
    "ignore": [
        "./bower_components/**/*.js",
        "./node_modules/**/*.js"
    ]
}