language: node_js
node_js:
  - 8
dist: trusty
sudo: required
addons:
  chrome: stable
  sauce_connect: true
git:
  depth: 1
cache:
  directories:
    - node_modules
install:
  - npm install
  - cd node_modules/es6-module-transpiler && npm install
  - npm install -g gulp
script:
  - gulp test
  - gulp sauce
env:
  global:
    - secure: JUEHpRY6mX0+vHbm/swGR+x0NZDSqusihJyk9oHY1PzoqPCiXLWxZu/3gxR9zwy4CF3EudNDVf+lNTLiAI0SsBRfQBgxwlVYEhbWk8Fcqt5WLEG/zkkv0NheFdrKQbgA6oerL6zstwRUwY5hgCN8MgVQaYnXlCiQmpMk/7HzVcM=
    - secure: EaanBOOFDcsSnv6OkTsEeBRXVHhW9iGq4vnUg7qmsL3llWJdt2abcQEM6xlkGsA7xeX/CZwNIrwcb5mPD26gonJEctGsEsc/VWkI18zc0LVZbNMFxcn0IZijuPjs/jCpoXJ/y0szLb53zcrISz8pEur0Bt19DqUG/Vw/tYxfqmw=
